/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');

/* 전체초기화 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    outline: none;
}




/********** header *********/
header .top-bar{
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    line-height: 40px;
    text-decoration: underline;
} 
header .top-bar{
    font-size: 15px;
    color: #fff;
}

header .nav-bar{
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
header .nav-bar .logo{
    width: 180px;
}
header .nav-bar .logo img{
    width: 100%;
}

header .nav-bar .menu{
    display: flex;
    column-gap: 6rem;
}
header .nav-bar .menu li a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: black;
    transition: 0.3s;
    
}
header .nav-bar .menu li a:hover{
    color: #7a7a7aaa;
    /* transform: scale(1.2); */
}

header .nav-bar .sns{
    display: flex;
    column-gap: 1rem;
   
}
header .nav-bar .sns li{
    font-size: 15px;
    font-weight: 500;
 
}
header .nav-bar .sns .sns-img{
    width: 20px;
}
header .nav-bar .sns .sns-img img{
    width: 100%;
}

/* slide swiper */
.swiper {
    width: 100%;
    height: 100%;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* section-1 */
.container{
    padding: 0 100px;
}
.section-1 .txt-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    row-gap: 1rem;
}
.section-1 .txt-box h1{
    font-size: 3.5rem;
    font-weight: 200;
}
.section-1 .txt-box p{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}
.section-1 .month-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 85px 0;
}

.section-1 .month-box .month{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 1rem;
}
.section-1 .month-box .month .month-img{
   width: 350px;
   height: 350px;
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   align-items: center;
   border: 1px solid #dddddd;
  
   
}
.section-1 .month-box .month .month-img img{
    width: 100%;
  
}
.section-1 .month-box .month p{
    font-size:20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.section-1 .month-box .month .month-button{
    width: 100px;
    height: 50px;
    background-color: #333333;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}
.section-1 .month-box .month .month-button span{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
